.fixed_bottom{
	display:block;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	z-index:99999
}
.fixed_bottom .bnav{
	float:left;
	width:100%;
	position:relative;
	z-index:10
}
.fixed_bottom .bnav li{
	float:left;
	width:50%
}
.fixed_bottom .bnav li:first-child{
	border-right:1px solid #aaa;
	width:50%
}
.fixed_bottom .bnav li a{
	float:left;
	width:100%;
	background-color:#fff;
	position:relative;
	padding:20px 10px 20px 60px;
	min-height:60px;
	font-family:FrutigerLTStd55Roman;
	color:#000;
	font-size:16px;
	text-transform:capitalize;
	line-height:20px;
	cursor:pointer
}
.fixed_bottom .bnav li a>img{
	position:absolute;
	left:5px;
	top:50%;
	width:44px;
	margin-top:-22px
}
.fixed_bottom .bnav.active li a.drop{
	background-color:#aaa
}
.foot_drop{
	float:left;
	width:100%;
	position:absolute;
	bottom:-20px;
	left:0;
	box-shadow:0 0 20px rgba(0,0,0,.4);
	z-index:9;
	transition:all .25s ease-in 0s;
	-webkit-transition:all .25s ease-in 0s
}
.foot_drop li{
	float:left;
	width:50%
}
.foot_drop li a{
	float:left;
	width:100%;
	background-color:#fff;
	position:relative;
	padding:20px 10px 20px 60px;
	min-height:60px;
	font-family:FrutigerLTStd55Roman;
	color:#000;
	font-size:16px;
	text-transform:capitalize;
	line-height:20px
}
.foot_drop li a>img{
	position:absolute;
	left:5px;
	top:50%;
	width:44px;
	margin-top:-22px
}
.foot_drop.active{
	bottom:90px
}
@media only screen and (min-width :1367px) and (max-width :3000px){
	.fixed_bottom{
		display:none
	}
}
#scroll{
	position:fixed;
	right:10px;
	bottom:10px;
	cursor:pointer;
	width:50px;
	height:50px;
	background-color:#23b467;
	text-indent:-9999px;
	display:none;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px
}
#scroll span{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-8px;
	margin-top:-12px;
	height:0;
	width:0;
	border:8px solid transparent;
	border-bottom-color:#fff
}
#scroll:hover{
	background-color:#fa931d;
	opacity:1;
	filter:"alpha(opacity=100)";
	-ms-filter:"alpha(opacity=100)"
}
.accordion .accordion-item--default .accordion-item-content,.accordion:hover .accordion-item:hover .accordion-item-content{
	height:auto;
	-webkit-transition:width 2s;
	transition:width 2s
}
.accordion-item-content,.accordion:hover .accordion-item-content{
	height:0;
	overflow:hidden;
	-webkit-transition:width 2s;
	transition:width 2s
}
.accordion{
	padding:0;
	margin:0 auto;
	width:100%;
	font-family:"PT Sans" sans-serif;
	-webkit-transition:width 2s;
	transition:width 2s;
	background:0 0!important;
	border:0!important
}
.accordion .accordion-item{
	border-bottom:.3px solid #666;
	padding:.8em!important;
	color:#eee;
	padding-left:0!important
}
.dropdown-menu ul.nav_two>li{
	line-height:30px;
}
ul.nav.nav-list.tree.colcity.thrd-layer{
	width:120%;
}
.accordion h1{
	margin:0;
}
.accordion .accordion-item{
	color:#222;
}
.accordion .accordion-item--default .accordion-item-content,.accordion.accordion-item .accordion-item-content{
	height:0;
}
.navbar-default .navbar-nav>li a{
	color:#000;
	-webkit-transition:width 2s;
	transition:width 2s;
}
.navbar-default .navbar-nav>li a:hover{
	color:#00a951;
}
ul.sub-cat li a:hover{
	color:#00a951;
}
.accordion .accordion-item{
	border-bottom:1px solid #bbb;
	padding:1em;
	color:#eee;
	-webkit-transition:width 2s;
	transition:width 2s;
}
.accordion .accordion-item h4:after{
	font:normal normal normal 18px/1 FontAwesome;
	content:"\f105";
	float:right;
	color:#333;
}
.accordion .accordion-item h3{
	font-size:14px!important;
	font-weight:400;
	padding:0;
	margin:0!important;
}
.accordion .accordion-item h4 a{
	font-size:14px!important;
	font-weight:400;
}
.nav-speciality .accordion .accordion-item h3 a:hover,.nav-speciality .accordion .accordion-item h4 a:hover{
	color:#00a951;
}
.nav-speciality .accordion .accordion-item:hover h4:after{
	font:normal normal normal 18px/1 FontAwesome;
	content:"\f107";
}
h4.nav-speciality{
	font-size:16px;
}
ul.sub-cat li{
	padding:5px 10px;
}
ul.sub-cat li a{
	color:#666!important;
	padding-top:10px;
}
ul.sub-cat li.ab:before{
	font:normal normal normal 14px/1 FontAwesome;
	content:"\f105";
	left:0;
	position:absolute;
	color:#333;
	padding-right:5px;
	top:9px;
}
ul.sub-cat li.ab{
	position:relative;
	padding-left:15px;
}
ul.sub-cat li.ab a{
	position:relative;
	padding-left:0!important;
}
.bottom_nnav .navbar-default .navbar-nav>li::first-child{
	padding-left:10px!important;
}
.specialities-sub .navbar-default .navbar-nav>li a:first-child{
	padding-left:20px;
}
.navbar-default .navbar-nav>li.ab:first-child a{
	padding-left:0!important;
}
.specialities-sub .navbar-default .navbar-nav>li a{
	font-size:14px;
}
ul.sub-cat li a:hover{
	color:#00a951!important;
}
.bottom_nnav .navbar-default .navbar-nav>li.open>.dropdown-menu,.bottom_nnav .navbar-default .navbar-nav>li:hover>.dropdown-menu{
	height:60vh;
}
ul.sub-cat{
	margin-top:15px;
}
.expcol .caret{
	display:none;
}
ul.sub_list li:before{
	font:normal normal normal 14px/1 FontAwesome;
	content:"\f105";
	left:2px;
	position:absolute;
}
.nav_two>li .sub_list>li>a{
	color:#666!important;
}
.nav_two>li .sub_list>li>a:hover{
	color:#00a950!important;
}
.col-sm-3,.col-sm-3.nav-speciality{
	width:25%!important;
}
.dropdown-menu ul.nav_two>li{
	line-height:60px;
}
@media (max-width:1366px){
	.bottom_nnav .navbar-default .navbar-nav>li.open>.dropdown-menu,.bottom_nnav .navbar-default .navbar-nav>li:hover>.dropdown-menu{
		height:90vh;
	}
	.accordion .accordion-item{
		padding:.5em;
	}
}
@media (max-width:768px){
	.hospcls li a{
		padding-right:0!important;
		line-height:18px!important;
	}
	.hospcls li{
		padding:8px 0!important;
	}
	.well{
		min-width:106%;
		margin-top:-10px;
	}
	.well ul.nav.nav-list.tree{
		position:relative!important;
		padding-left:10px;
	}
	.wel. ul.nav.nav-list.tree.bullets{
		position:relative;
	}
	.well ul{
		padding-left:15px!important;
	}
	.well .nav>li ul.nav.nav-list.tree li{
		padding-top:10px;
		padding-bottom:10px;
		padding-left:13px;
	}
	.well .nav>li ul.nav.nav-list.tree .glyphicon{
		top:-22px;
	}
	.well .nav>li ul.nav.nav-list.tree li a{
		border-bottom:0!important;
		background-color:transparent!important;
		padding-left:0;
		line-height:initial;
	}
	.well .nav>li ul.nav.nav-list.tree li a:hover{
		color:#00a951!important;
	}
	.rm_menu .well ul li .right-dropdown>li .plus-minus{
		line-height:normal;
		top:9px;
		height:auto;
		right:0!important;
	}
	.well ul.nav.nav-list.tree.bullets.sub_list.mobi-second{
		padding-left:10px!important;
	}
	.well ul.nav.nav-list.tree.bullets.sub_list.mobi-second{
		padding-left:10px!important;
	}
	.well .mobi-third{
		margin-top:10px;
	}
	.well .mobi-third-3{
		margin-top:10px;
	}
	ul.sub_list .well li{
		padding-left:5px;
	}
	ul.sub_list .well li:before{
		left:-13px;
	}
	li>ul.nav.nav-list.tree{
		padding-left:0!important;
	}
	ul.nav-menu-list-style .nav-header{
		line-height:36px!important;
	}
	ul.sub_list li:before{
		font:normal normal normal 14px/1 FontAwesome;
		content:"\f105";
		left:2px;
		position:absolute;
		color:#999;
	}
}
@media (max-width:479px){
	ul.nav.nav-list.tree.bullets{
		position:relative!important;
	}
	.well ul.nav.nav-list.tree{
		margin-left:0!important;
	}
}
@media (max-width:1279px){
	.rm_menu ul li .right-dropdown.mobi>li{
		padding:10px 20px 10px 15px;
		border-bottom:1px solid #ccc;
	}
	.rm_menu ul li .right-dropdown.mobi>li .plus-minus{
		line-height:normal;
		top:12px;
		height:auto;
	}
	.rm_menu ul.mobi li .right-dropdown>li .plus-minus{
		line-height:normal;
		top:10px;
		height:auto;
	}
	.rm_menu ul.mobi li .right-dropdown.mobi>li{
		border-bottom:0;
	}
	.rm_menu ul li .right-dropdown.mobi>li>a{
		border-left:0;
	}
	.nav_two>li .sub_list.mobi-second>li{
		padding-left:15px;
		padding-top:5px;
	}
	.nav_two>li .sub_list.mobi-second{
		padding-left:10px;
	}
	.nav_two>li .sub_list.mobi-third>li{
		padding-left:15px;
		padding-top:5px;
	}
	.nav_two>li .sub_list.mobi-third{
		padding-left:10px;
	}
}
ul.sub-cat{
	overflow:auto;
	max-height:200px;
}
.wel. ul.nav.nav-list.tree.bullets{
	position:absolute;
	width:100%;
	top:0;
}
.well{
	min-height:20px;
	padding:0!important;
	margin-bottom:20px;
	background-color:transparent;
	border-bottom: 1px solid #e3e3e3;
	border:0!important;
	box-shadow:none!important;
}
.well label{
	display:inline-block;
	max-width:100%;
	margin-bottom:5px;
	font-weight:700;
	width:100%;
}
.well ul.nav.nav-list.tree{
	position:absolute;
	top:0;
	margin-left:100%;
	padding-left:30px;
	width:100%;
}
.well .nav>li ul.nav.nav-list.tree li{
	border-bottom:0!important;
}
.well .nav>li ul.nav.nav-list.tree li a:hover{
	border-bottom:0!important;
	background-color:transparent!important;
}
.well .glyphicon{
	position:absolute;
	right:0!important;
	top:10px;
	display:inline-block;
	font-family:'Glyphicons Halflings';
	font-style:normal;
	font-weight:400;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	float:right;
	-moz-osx-font-smoothing:grayscale;
}
.well label:hover{
	color:#00a951;
}
label.tree-toggle.nav-header.glyphicon-icon-rpad:hover{
	color:#00a951;
}
.well .nav>li>a{
	padding:0!important
}
.well .nav>li{
	position:relative;
	display:block;
	line-height:36px;
	border-bottom:1px solid #bbb;
	background-color:transparent;
}
.well ul{
	margin-right:30px;
}
.nav>li>a:focus,.nav>li>a:hover{
	text-decoration:none;
	background-color:transparent!important;
}
ul.nav-menu-list-style .nav-header{
	border-bottom:none!important;
	display:block;
	margin:0;
	line-height:42px;
	padding:0 8px;
	font-weight:600;
}
ul.nav-menu-list-style>li{
	position:relative;
}
ul.nav-menu-list-style>li:first-child a{
	background-color:transparent;
}
ul.nav-menu-list-style{
	list-style:none;
	padding:0;
	margin:0;
}
ul.nav-menu-list-style li .badge,ul.nav-menu-list-style li .pull-right,ul.nav-menu-list-style li label.badge,ul.nav-menu-list-style li span.badge{
	float:right;
	margin-top:7px;
}
ul.bullets{
	list-style:inside disc;
}
ul.numerics{
	list-style:inside decimal;
}
ul.kas-icon-aero li a:before{
	font-family:'Glyphicons Halflings';
	font-size:9px;
	content:"\e258";
	padding-right:8px;
}
ul.nav.nav-list.tree.bullets{
	position:top 0;
	width:100%;
	left:0!important;
	position:absolute;
}
ul.nav.nav-list.tree{
	position:absolute;
	margin-left:100%;
	top:0;
}
li>ul.nav.nav-list.tree{
	display:none;
}
li:hover>ul.nav.nav-list.tree{
	display:block;
}
i.citycls{
	float:right;
}
.tooltip-box-layer{
	top:195px;
	width:270px;
	padding:10px;
	border:1px solid #ccc;
	position:absolute;
	text-align:left;
	border-radius:3px;
	background-color:#fff;
	background-image:linear-gradient(to top,#eee,#fefefe);
	z-index:10;
}
.tooltip-content{
	position:relative;
}
.tooltip-content a{
	width:auto;
	height:auto;
	border-radius:0;
	margin:5px 5px;
	margin-right:0;
	font-size:13px;
	line-height:20px;
	padding:0;
	color:#23b467;
	background:0 0;
}
div#tooltip01 button.btn-close-layer{
	position:absolute;
	right:0;
	top:0;
	background:0 0;
	border:none;
}
.tooltip-content a:hover{
	width:auto;
	padding:6px;
}
div#tooltip01:after{
	content:"";
	position:absolute;
	width:0;
	height:0;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-bottom:10px solid #23b467;
	top:-11px;
	left:14px;
}
@media screen and (max-width:480px){
	.tooltip-box-layer{
		top:275px;
		width:301px;
		left:-150px;
		height:auto;
	}
	.tooltip-content a{
		width:100%!important;
		text-align:left!important;
	}
	div#tooltip01:after{
		border-left:6px solid transparent;
		border-right:6px solid transparent;
		border-bottom:6px solid #23b467;
		top:-7px;
		left:173px;
	}
	button.btn-close-layer .fa-times{
		font-size:17px;
	}
}
li.sub-brand-2{
	margin-left:20px;
	margin-top:3px;
}
li.sub-brand.toggle-brand i.fa{
	margin-right:3px;
}
li.sub-brand-2 a{
	color:#23b467;
	cursor:pointer
}
.custom-center-align{
	display:block;
	width:100%;
	float:left;
	text-align:center;
	margin-top:10px;
}
span.inputSearchNew{
	font-family: frutiger_ce_55_romanregular;
	text-align:center;
	float:none;
	margin-bottom:0;
	text-transform:initial;
}
.searchBoxNew{
	margin-top:10px;
}
.searchButtonNew{
	margin-top:10px;
}
.error_msg{
	color:red;
	margin-left:5px;
}
.consult_carousel .inner_item p{
	HEIGHT:110px!important;
	min-height:110px;
}
.cscdblog_section .blog_item .img_block img{
	width:100%;
}