/* =============
   General
============= */

html {
  position: relative;
  min-height: 100%;
}

p{
  line-height: 1.7;
}

.h1,.h2,.h3,.h4,.h5,.h6,
h1,h2,h3,h4,h5,h6 {
  font-family: $font-family-secondary;
  font-weight: $font-weight-bold;
}

a {
  text-decoration: none !important;

  &:hover, &:active, &:focus {
    outline: 0;
    text-decoration: none;
  }
}

label {
  font-weight: $font-weight-semibold;
}

// blockquote

.blockquote {
  padding: 10px 20px;
  border-left: 4px solid $gray-300;
}

.blockquote-reverse {
  border-left: 0;
  border-right: 4px solid $gray-300;
  text-align: right;
}