.box{
    margin-top: 3rem;
    /* background-color:red; */
}
/* .hovers{
    background-color: red;
} */
.img:hover{
 background-color: #fb6201;
}

.ss{
    background-color: #fff;
    width: 200px;
    padding: 1rem;
    display: flex;
    column-gap: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #fb6201;
}

.ss:hover{
    background-color:#fb6201;
    color: #fff;
}
