body{font-family: 'Barlow', sans-serif;background: #f2f2f2;}
img{max-width: 100%;}


.flex-part {
    display: flex;
}
.dash-menu { 
    width: 20%; 
}
.left-dash {
    overflow-y: scroll;
    position: fixed;
    background: #fff;
    padding: 10px 0;
    width: 20%;
    height: 100vh;
}

.left-dash::-webkit-scrollbar {
  width: 1px;
}
 
.left-dash::-webkit-scrollbar-track {
  background: #fff; 
}
  
.left-dash::-webkit-scrollbar-thumb {
  background: #fff; 
}
 
.left-dash::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}


.dash-body {
    width: 80%;
    padding: 10px 3% 50px;
}
.doctor-part-img {
    text-align: center;
    padding: 30px 25px 90px 25px;
}
.doctor-part-img img{
    width: 140px;
}
.doctor-part-img p {
    margin: 0 0 8px 0;
    font-size: 17px;
}
ul.left-menu {
    padding: 0;
}
ul.left-menu li {
    list-style: none;
    padding: 1px 0;
}
ul.left-menu li a {
    font-size: 16px;
    padding: 9px 50px;
    text-decoration: none;
    display: flex;
    color: #333;
}
ul.left-menu li.active {
    background: #fb6201;
}
ul.left-menu li.active a {
    color: #fff;
}
ul.left-menu li.active a i.fa-solid.fa-house {
    margin-right: 8px;
    margin-top: 5px;
    margin-left: -32px;
    color: rgb(255, 255, 255);
}
ul.left-menu li a:hover {
    background: #fb6201 !important;
    color: #fff;
}

.dash-text {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}
.dash-text p {
    margin: 0;
    font-size: 16px;
}
div#form-search.search-icon .input-group-prepend {
    position: absolute;
    right: 0;
}
div#form-search.search-icon span#basic-addon1 {
    background: #fff;
    border: none;
    margin-top: 5px;
    margin-right: 3px;
} 
div#form-search.search-icon .input-group-prepend I {
    color: #ec1c24;
}
div#form-search.search-icon input {
    background: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.dash-text h3 {
    font-size: 22px;
    font-weight: 600;
}
.dash-text.sspp {
    padding: 25px 15px;
}
.sp-l-r {
    padding-left: 0;
    padding-right: 0;
    margin: auto;
}
.prof p {
    font-size: 11px;
    color: #999;
}
.prof p b {
    color: #222;
}
.img-sp {
    padding-right: 0;
    
}
.prof {
    padding-top: 6px;
}

.img-sp img {
    width: 100px;
    border-radius: 50%;
    border: 2px solid #fb6201;
    height: auto;
}
button.btn-notes {
    background: #41414b;
    color: #fff;
    border: none;
    font-size: 13px;
    padding: 6px 15px;
}
.table-appoin {
    background: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}
.table-appoin h5 {
    margin-bottom: 0;
}

.font-table p {
    font-size: 7px;
}
.font-table h5 {
    font-size: 11px;
}
.border-right {
    border-right: solid 1px #99999942;
}
.font-table .img-sp.text-center p {
    font-size: 6px;
}
.dash-text.sspp.prof.font-table {
    padding: 17px 15px 18px;
    /* padding: 8px 15px; */
}

.do-list {
    background: #f2f2f2;
    border-radius: 11px;
    padding: 0px 25px;
    margin-top: 50px;
}
.do-list .doc-text img {
    margin-top: -40px;
}
.do-list .doc-text h4 {
    font-weight: 200;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 0;
    color: #494949;
}
.do-list .doc-text p {
    font-size: 12px;
    color: #999;
    font-weight: 400;
}
.doc-text  {
    margin-bottom: 30px;
}
.dash-text.sspp .do-list p {
    font-size: 12px;
    color: #999;
    font-weight: 400;
}
.dash-text.sspp .do-list p b{ 
    color: #222; 
}

.follow-mm {
    background: #41414b;
    margin-top: -9px;
    border-radius: 0 0 11px 11px;
} 
.follow-mm .boxs a {
    display: flex;
    justify-content: center;
    font-size: 11px;
    padding: 15px 2px;
    color: #fff;
    text-decoration: none;
}
.follow-mm .boxs {
    width: 33.333%;
    border-right: solid 1.5px #eee;
}
.reports .follow-mm {
    background: #fff;
    margin-top: 0;
}
.reports .follow-mm .boxs.rep a {
    background: #41414b;
    border-radius: 11px 0 0 0; 
    color: #fff;
}
.reports .follow-mm .boxs  a { 
    font-size: 22px; 
    color: #222;
     justify-content: flex-start;
    padding: 13px 36px;
}
a.your-stats {
    border-right: solid 2px #b9b9b9;
}
.reports .follow-mm {
    border-bottom: solid 1px #b9b9b96b;
}
.reports {
    background: #fff;
    border-radius: 11px;
}
ul.blood-report {
    padding: 0;
    margin: 0;
}
ul.blood-report li {
    list-style: none;
}
ul.blood-report li a {
    padding: 15px 25px 30px 23px;
    border-bottom: solid 1px #b5b5b5;
    border-right: solid 1px #b5b5b5;
    display: flex;
    text-decoration: none;
    position: relative;
    color: #000;
}
ul.blood-report li a span {
    position: absolute;
    bottom: 16px;
    font-size: 10px;
    color: #b5b5b5;
}
ul.blood-report li.view-all a{
    background: #b5b5b5;
    padding: 27px 23px;
    border-radius: 0 0 0 11px;
}
.months-text {
    text-align: right;
}

.icon-7 .post-slide {
    text-align: center;
}
.icon-7 .post-slide span img {
    border: 2px solid #a9a9a9;
    padding: 15px;
    border-radius: 200px;
    height: 100px;
    width: 100px;
}
.icon-7  .post-slide:hover span img {
    border: 2px solid #ed6e1f;
}
.icon-7 .post-slide p {
    margin: 10px 0 0 0;
    font-size: 15px;
}
 
.doctor-list .col-7 {
    padding: 0 10px;  
    border: solid 2px #bdbdcc8c;
}
/* .doctor-list .col-7:hover {
    border: solid 2px #fd8450;
}*/
.doctor-list .row {
    margin-right: 0;
    margin-left: 0;
}
.doctor-list img {
    border-radius: 0;
    margin-left: 0;
    width: 100%;
}
.doctor-list .col-5 {
    padding: 0;
}
.doctor-list .col-7 {
    padding: 5px;
    padding-left: 15px;
}
 .doctor-list h4 {
    font-size: 15px;
    padding-top: 11px;
}
 .doctor-list p {
    font-size: 13px;
}

.progressbar-part p {
    font-size: 14px;
    font-weight: 300;
    color: #666;
}
.progressbar-part .progress-bar {
    background-color: #41414b7a;
    border-radius: 10px;
}
.progressbar-part  .progress { 
    height: 0.9rem; 
}
.progressbar-part  .progress p {
    font-size: 10px;
    padding: 0 5px;
    background: #fff;
}



@media (min-width:1700px) { 
.font-table p {
    font-size: 13px !important;
}
.font-table .img-sp.text-center p {
    font-size: 11px !important;
}
.font-table h5 {
    font-size: 15px !important;
}
.dash-text.sspp .do-list p {
    font-size: 17px !important; 
}
ul.left-menu li a {
    font-size: 20px !important; 
}



}

@media (max-width:1100px) { 
.dash-text h3 {
    font-size: 15px;
}
div#form-search.search-icon input { 
    font-size: 13px;
}
.prof p {
    font-size: 8px; 
} 

.table-appoin .dash-text.sspp.prof.font-table {
    overflow: hidden;
}
 .scrool  .border-right {
    width: 100%;
    margin-bottom: 7px;
}
.row.scrool {
    display: unset;
}
.dash-text.sspp.prof.font-table p {
    font-size: 0.8rem !important;
}
.scrool .col-2.text-center {
    width: 100%; 
}
.scrool .text-center { 
    text-align: left !important;
}
.row.scrool .sp-l-r {
    padding-left: 10px; 
}
button.btn-notes { 
    font-size: 0.7rem;
    padding: 6px 6px;
}
.follow-mm .boxs a { 
    font-size: 0.5rem;
    padding: 15px 2px; 
}
.doctor-part-img { 
    padding: 30px 15px 90px 15px;
}
ul.blood-report li a {
    padding: 15px 10px 30px 10px; 
}
.dash-text.sspp p.mt-3.mb-4 {
    margin-bottom: 0 !important;
    margin-top: 0rem!important;
}
.doctor-list h4 { 
    padding-top: 0;
}
.doctor-list .col-7 { 
    padding-left: 10px;
}



} 


@media (max-width:980px) { 
ul.blood-report li.view-all a { 
    padding: 18px 12px; 
}
.prof p {
    font-size: 1rem;
}
.img-sp img {
    width: 60px;
}
.dash-text.sspp.prof.font-table p {
    font-size: 7px;
}
.flex-part {
    display: unset;
}
.dash-menu {
    width: 100%;
}
.left-dash { 
    width: 100%;
    height: unset; 
    position: unset; 
}
.dash-body {
    width: 100%;
    padding: 10px 15px;
}

}


@media (max-width:767px) { 
.dash-text.sspp .prof {
    padding: 0 9px;
}
.reports .follow-mm .boxs  a {
    font-size: 0.8rem; 
    padding: 13px 10px;
}
ul.blood-report li a span { 
    bottom: 11px;
    font-size: 14px; 
}
.progressbar-part p {
    font-size: 16px; 
}
.doctor-list h4 {
    padding-top: 18px;
    font-size: 14px;
}
.doctor-list {
    margin-bottom: 15px;
}
.dash-text.sspp h3 { 
    text-align: center;
}
.months-text {
    text-align: center;
} 
 

}
.follow-mm .boxs.rep.border-0 a.your-stats {
    border-radius: 0;
}

/**/

/*Start.......19-08-22*/
div#dark-version .left-dash {
    background: #383838;
}
div#dark-version ul.left-menu li a { 
    color: #fff;
}

.my-calendar {
    background: #44434c;
    color: #fff;
    font-size: 1.3rem;
    padding: 0.4rem;
    margin: -0.6rem 0;
    text-align: center;
}
.my-calendar img {
    width: 2.6rem;
}
p.Logout-dash {
    text-align: center;
    padding: 3px 0 0 0;
}
p.Logout-dash a {
    color: #333333;
    text-decoration: none;
    font-size: 1.2rem;
}

.text-pera-body p {
    color: #333333;
    font-size: 1.2rem;
}
.text-pera-body p.color-feed {
    color: #999999;
}
div#dark-version-body .dash-text h3 {
    color: #333333;
    font-size: 1.3rem;
}
.plus-icon {
    position: absolute;
    right: 1rem;
}
div#dark-version-body .dash-text {
    position: relative;
}
.text-right {
    text-align: right;
}
div#dark-version-body .dash-text h3.orange {
    color: #fb6201;
}
h3.orange i {
    color: #cccccc;
}
table.table.table-part th {
    color: #fb6201;
    font-weight: 500;
    font-size: 1.1rem;
}
.follow-up {
    text-align: center;
    background: #383838;
    border-radius: 5px;
}
.follow-up ul {
    padding: 0;
    margin: 0;
}
.follow-up ul li {
    list-style: none;
    display: inline-block;
    font-size: 0.8rem;
    color: #fff;
    padding: 5px 3px;
} 
table.table.table-part tr td {
    padding: 15px 9px;
    border-top: solid 1.3px #000;
}

/*Start........22-08-20522*/
div#dark-version-body p.Logout-dash.log a {
    font-size: 1rem  !important;
}
.blood-test p {
    margin-bottom: 3px;
}

div#dark-version-body .dash-text h3 {
    color: #333333;
    font-size: 1.3rem;
}
h3.Advise {
    margin: 0.7rem 0 0 0 !important;
}

p.date-link span {
    color: #fb6201;
}
p.date-link  a {
    color: #999;
}
#dark-version-body p.Date-time {
    font-size: 0.8rem;
    font-weight: 500;
}

.dash-text.sspp.upcoming {
    background: #f8f3f0;
}
.endocrinology-upcoming {
    border-left: solid 1px #afaead;
    padding-bottom: 40px;
    border-right: solid 1px #afaead;
}
div#dark-version-body .dash-text h3 { 
    position: relative; 
}
div#dark-version-body .dash-text h3 i.fa-solid.fa-calendar {
    color: #bbbbbb;
    position: absolute;
    right: 1.3rem;
}
p.Logout-dash.log {
    text-align: right;
    padding-right: 10px;
}

div#dark-version-body .dash-text h3.Your {
    font-size: 1.4rem;
}
 
.dash-text.sspp.icon-and-text p {
    font-size: 0.6rem;
}
.dash-text.sspp.icon-and-text {
    padding: 1rem;
    margin-bottom: 1.4rem;
    border-radius: 12px;
    box-shadow: 0 2px 3px 0 #00000014;
}
div#dark-version i.fa-solid.fa-house {
    color: #fff;
}
.update-profile p {
    font-size: 0.8rem;
    margin-bottom: 4px;
}
.dash-text.sspp.Alergies {
    padding: 10px 13px;
}
.dash-text.sspp.family-members {
    padding: 10px 10px;
        overflow: hidden;
}
.dash-text.sspp.family-members h3 {
    font-size: 1.7rem !important;
}
.dash-text.sspp.family-members i.fa-solid.fa-plus {
    font-size: 2rem;
    border: solid 2px #000;
    padding: 0.5rem;
    border-radius: 40px;
    margin-top: 0.6rem;
}
.family-members input {
    position: absolute;
    top: 30px;
    z-index: 9;
    opacity: 0;
    cursor: pointer;
}
table#table-apppin td {
    border-top: unset;
}
table#table-apppin td {
    border-top: unset;
    padding: 9px 6px;
}
.shadab-boarder {
    border-right: solid 1px #c8c9ca;
}
.shadab-boarder-top-left {
    border-top: solid 1px #c8c9ca;
    padding-top: 15px;
}
hr.overview {
    margin-bottom: 0;
}
.shadab-boarder {
    padding-top: 1.2rem;
}
.pb-3a {
    padding-top: 1.2rem;
}
.dash-text.sspp.icon-and-text.boarder-r {
    border-radius: 25px;
}
.input-group.navi-input {
    width: unset;
    border: solid 1px #fb6201;
    border-radius: 4px;
}
.step-away .input-group.navi-input input {
    color: #41414b;
    font-size: 1.1rem;
}
.step-away .input-group.navi-input span#basic-addon2 {
    padding: 4px;
}
.input-group.navi-input span#basic-addon2 {
    background: #fff;
}
.input-group.navi-input input.form-control {
    border-right: 0;
}
.step-away .input-group img {
    width: 2.2rem;
}
.step-away h2 {
    color: #fa6400;
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
button.dropdown-toggle.make-btn i {
    background: white;
    color: #000;
    padding: 6px 7px;
    border-radius: 100px;
    position: absolute;
}
.dash-text.sspp.icon-and-text button#dropdownMenuButton1 {
    background: #41414b;
    padding: 16px 5px;
}
.dash-text.sspp.icon-and-text button#dropdownMenuButton1 i {
    margin-left: 3px;
}
.past-consultations p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}
.btn.btn-karim {
    background: #fb6201;
    color: #fff;
    padding: 3px 10px;
    border-radius: 32px;
    width: 100%;
}
button.btn.btn-karim.pending {
    background: #b4b4b4;
}
table#table-apppin.bold-td {
    font-weight: 500;
}
table#table-apppin.bold-td td i.fa-solid.fa-plus {
    font-size: 1rem;
    border: solid 2px #000;
    padding: 0.5rem;
    border-radius: 40px;
}
table.date-table {
    width: 100%;
}
table.date-table {
    width: 100%;
    background: #fb6201;
}
table.date-table tr td {
    padding: 10px 10px;
}
table.date-table tr td p {
    color: #fff;
    font-size: 1.1rem;
}
table.date-table tr td .btn.btn-karim {
    background: #fffefd;
    color: #111; 
}
table.date-table tr td i {
    color: #fff;
}
table.date-table tr td i.fa-solid.fa-angle-down {
    font-size: 1.4rem;
}
.ordered p {
    font-size: 0.8rem;
}
#Metabolism .prof p   { 
    font-size: 0.8rem;
}
div#Metabolism i {
    color: #bbbbbb;
}
#Metabolism .prof {
    padding-top: 0;
}
.dash-text .dummy {
    border: solid 1px #999;
    width: 98%;
    margin: 0 auto;
    padding: 1rem;
}
.dash-text .dummy p {
    font-size: 1.2rem;
    font-weight: 200;
}
.dash-text .dummy h2 {
    color: #5e5e5e;
}



@media (min-width:1500px) { 
.dash-text.sspp.family-members h3 {
    font-size: 1.9rem !important;
}
.update-profile p {
    font-size: 1.2rem; 
}
.dash-text.sspp.icon-and-text p {
    font-size: 0.9rem;
}
.dash-text.sspp.icon-and-text { 
    margin-bottom: 1rem; 
}
.prof p {
    font-size: 1rem; 
}
div#dark-version-body .dash-text h3.Your {
    font-size: 2rem;
}
div#dark-version-body .dash-text h3 { 
    font-size: 1.7rem;
}
#dark-version-body p.Date-time {
    font-size: 1.2rem; 
}
button.btn-notes { 
    font-size: 1.2rem; 
}



}
table#tech-companies-1 td.testimonial_desc {
    white-space: normal !important;
}

