
/*Start........26-09-2022*/

@media (max-width:1600px) {
.banner-part { 
    height: unset !important;
}
.banner-part .sp-top {
    margin-top: 12.9% !important;
}
.contact-number {
    position: unset;
}

}
@media (max-width:1199px) {
.header-part div#navbarSupportedContent a { 
    font-size: 14px; 
}
header#doctor-profile div#navbarSupportedContent a { 
    font-size: 12px; 
}
button.dropdown-toggle.make-btn i { 
    padding: 8px 9px; 
    bottom: 9px;
}
.our-recommendations .doctor-list h4 {
    font-size: 14px; 
}
}

@media (max-width:1099px) {
.banner-part h1 {
    font-size: 47px;
}
.left-offcanvas h4 {
    font-size: 1.8rem;
}
.left-offcanvas h4 br {
    display: none;
}

}

@media (max-width:991px) {
.banner-part .sp-top {
    margin-top: 15.9% !important;
}


}

@media (max-width:980px) {
.banner-part h1 { 
    font-size: 37px; 
}
.banner-part input.form-control { 
    padding: 8px 10px;
    font-size: 18px; 
}
.input-group img {
    width: 31px;
}
.contact-number { 
    position: unset; 
}
.contact-number { 
    margin-top: 50px; 
}
.banner-part { 
    height: unset;
}
.border-part h5 { 
    font-weight: 500;
}

}

@media (max-width:766px) {
.contact-number { 
    position: unset; 
}
.excellence-part {
    margin: 0 28px 15px;
}
.banner-part .sp-top {
    margin-top: 31.9%!important;
}
.offcanvas-body {
    padding: 1rem 1rem;
}
.footer-part h3 {
    font-size: 16px;
}
/*header#doctor-profile a.navbar-brand img {
    width: 75% !important;
}*/
div#tab-mob {
    padding-left: 0 !important;
}
div#tab-mob {
    margin-top: 30px;
}

}

@media (max-width:350px) {
header#doctor-profile a.navbar-brand {
    margin-right: -8px !important;
}

h6.timer {
    font-size: 17px;
}

}